:root {
    --white: #ffffff;
    --black: #000000;
    --dark-violet: #440f51;
    --medium-violet: #6C0287;
    --light-violet: #640AA3;
    --violet: #840AA3;
    --bright-violet: #CD06FF;
    --light-pink: #EADEED;
    --dark: #211E1E;
    --body: #1b1a1b;
}