* {
    box-sizing: border-box;
}

body {
    background-color: #1B1A1B;
    color: #FFFFFF;
}

blockquote {
    text-transform: uppercase;
}

.wrapper {
    width: 1200px;
    padding: 30px;
    margin: 0 auto;
}