.about {
    padding-top: 35px;
    margin-bottom: 70px;
    background-color: #F9F9F9;
}

.about__header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #383A4C;
    margin-bottom: 25px;
}

.about__par-about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #383A4C;
    margin-bottom: 35px;
}

.about__par-about:after {
    display: inline-block;
    content: "";
    width: 43px;
    height: 2px;
    background-color: #383A4C;
    vertical-align: middle;
    margin-left: 23px;
}

.about__par-about:before {
    display: inline-block;
    content: "";
    width: 43px;
    height: 2px;
    background-color: #383A4C;
    vertical-align: middle;
    margin-right: 23px;
}

.about__par-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #383A4C;
    margin-bottom: 50px;
    max-width: 724px;
    margin: auto;
    margin-bottom: 50px;
}

.about__advantage-wrapper {
    display: flex;
    justify-content: center;
}

.about__advantage-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__advantage-element-number {
    background: #23C7EC;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 57px;
    line-height: 100%;
    color: var(--white);
    margin-bottom: 16px;
}

.about__advantage-element-par {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #383A4C;
}

@media all and (max-width:1298px) {
    .about {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about__header {
        font-size: 32px;
        line-height: 38px;
    }

    .about__par-about {
        font-size: 20px;
        line-height: 23px;
    }

    .about__par-about:before,
    .about__par-about:after {
        width: 40px;
    }

    .about__par-description {
        font-size: 16px;
        line-height: 23px;
    }

    .about__advantage-element-number {
        width: 104px;
        height: 104px;
        font-size: 52px;
        line-height: 73px;
    }

    .about__advantage-element-par {
        font-size: 18px;
        line-height: 25px;
    }

    @media all and (max-width:768px) {
    .about__advantage-element-number {
        width: 104px;
        height: 104px;
        font-size: 52px;
        line-height: 73px;
    }

    .about__advantage-element-par {
        font-size: 18px;
        line-height: 25px;
    }

    .about__advantage-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 60px;
    }

    .about__advantage-element {
        margin-bottom: 40px;
    }

    .about__advantage-element:last-child {
        margin-bottom: 0;
    }

    .about__advantage-element-par {
        max-width: 166px;
    }
}
}

@media all and (max-width:480px) {
    .about {
        padding-top: 17.5px;
    }

    .about__header {
        font-size: 20px;
        line-height: 23px;
        color: #383A4C;
        margin-bottom: 15px;
    }

    .about__par-about {
        font-size: 16px;
        line-height: 19px;
        color: #383A4C;
        margin-bottom: 26px;
    }

    .about__par-about:before,
    .about__par-about:after {
        width: 19.71px;
    }

    .about__par-description {
        font-size: 12px;
        line-height: 17px;
        color: #383A4C;
        margin-bottom: 40px;
    }
}

