.about {
    padding-top: 35px;
    margin-bottom: 70px;
    background-color: #F9F9F9;
}

.about__header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #383A4C;
    margin-bottom: 25px;
}

.about__par-about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #383A4C;
    margin-bottom: 35px;
}

.about__par-about:after {
    display: inline-block;
    content: "";
    width: 43px;
    height: 2px;
    background-color: #383A4C;
    vertical-align: middle;
    margin-left: 23px;
}

.about__par-about:before {
    display: inline-block;
    content: "";
    width: 43px;
    height: 2px;
    background-color: #383A4C;
    vertical-align: middle;
    margin-right: 23px;
}

.about__par-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #383A4C;
    max-width: 724px;
    margin: auto;
    margin-bottom: 50px;
}

.about__advantage-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 9px;
}

.about__advantage-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 46px;
}

.about__advantage-element:first-of-type {
    padding-left: 11px;
}

.about__advantage-element-number {
    background: #23C7EC;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 57px;
    line-height: 100%;
    color: var(--white);
    margin-bottom: 16px;
}

.about__advantage-element-third {
    margin-left: 8px;
}

.about__advantage-element-second {
    margin-left: 9px;
}

.about__advantage-element-fourth {
    margin-right: 6px;
}

.about__advantage-element-par {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #383A4C;
}

.wrapper-perfect {
    padding-bottom: 0;
}

@media all and (max-width:1298px) {
    .about {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 73px;
    }

    .about__header {
        font-size: 32px;
        line-height: 38px;
    }

    .about__par-about {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 30px;
    }

    .about__par-description {
        max-width: 634px;
    }

    .about__par-about:before,
    .about__par-about:after {
        width: 40px;
    }

    .about__par-description {
        font-size: 16px;
        line-height: 23px;
    }

    .about__advantage-element {
        padding-left: 0;
    }

    .about__advantage-element-number {
        width: 104px;
        height: 104px;
        font-size: 52px;
        line-height: 73px;
        padding-left: 10px;
        margin-bottom: 25px;
    }

    .about__advantage-element-first {
        margin-left: 11px;
    }

    .about__advantage-element-first .about__advantage-element-number  {
        padding-right: 7px;
    }

    .about__advantage-element-second .about__advantage-element-number  {
        margin-left: 15px;
        padding-right: 9px;
    }

    .about__advantage-element-third {
        margin-left: 17px;
    }

    .about__advantage-element-third .about__advantage-element-number  {
        padding-right: 9px;
    }

    .about__advantage-element-fourth {
        margin-right: 14px;
    }

    .about__advantage-element-fourth .about__advantage-element-number  {
        padding-right: 9px;
    }


    .about__advantage-element-par {
        font-size: 18px;
        line-height: 25px;
    }

    @media all and (max-width:768px) {
    .about__advantage-element-number {
        width: 104px;
        height: 104px;
        font-size: 52px;
        line-height: 73px;
    }

    .about__advantage-element-par {
        font-size: 18px;
        line-height: 25px;
    }

    .about__advantage-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 60px;
    }

    .about__advantage-element {
        margin-bottom: 40px;
    }

    .about__advantage-element:last-child {
        margin-bottom: 0;
    }

    .about__advantage-element-par {
        max-width: 166px;
    }
}
}

@media all and (max-width:480px) {
    .about {
        padding: 13px 20px 0 20px;
        margin-bottom: 64px;
    }

    .about__header {
        font-size: 20px;
        line-height: 23px;
        color: #383A4C;
        margin-bottom: 18px;
    }

    .about__par-about {
        font-size: 16px;
        line-height: 19px;
        color: #383A4C;
        margin-bottom: 28px;
    }

    .about__par-about:before,
    .about__par-about:after {
        width: 20px;
    }

    .about__par-about:after {
        margin-left: 25px;
    }

    .about__par-about:before {
        margin-right: 25px;
    }

    .about__par-description {
        font-size: 12px;
        line-height: 17px;
        color: #383A4C;
        margin-bottom: 33px;
    }

    .about__advantage-element-first {
        margin-right: 22px;
        margin-bottom: 42.5px;
    }

    .about__advantage-element-second {
        margin-right: 22px;
    }

    .about__advantage-element-third {
        margin-right: 19px;
    }

    .about__advantage-element-fourth {
        margin-right: 0;
    }

    .about__advantage-element-number {
       padding-left: 0;
    }

    .about__advantage-element-second {
        margin-bottom: 42.5px;
    }

    .about__advantage-element-third {
        margin-bottom: 43px;
    }

}

