.contact {
    background-image: linear-gradient(rgba(47, 50, 75, 0.85), rgba(47, 50, 75, 0.85)), url('../assets/img/footer.png');
    background-repeat: no-repeat;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
}

.contact__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.contact__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: var(--white);
    margin-bottom: 17px;
    margin-right: 20px;
}

.contact__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
}

.contact__input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact__input-name,
.contact__input-tel, 
.contact__input-mail {
    width: 423px;
    height: 44px;
    color: var(--white);
    background: transparent;
    border-radius: 50px;
    margin-bottom: 21px;
    border: 1px solid var(--white);
    padding: 9px 0 0 25px;
}

.contact__input-mail {
    margin-bottom: 50px;
}

.contact input::placeholder {
    font-size: 22px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.5);
}

.contact__btn {
    width: 218px;
    height: 48px;
    color: var(--white);
    background: var(--blue);
    box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
    border-radius: 50px;
    border: none;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.contact__agree {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* text-align: center; */
    color: var(--white);
}

.contact__agree a {
    color: #4A76A8;
    border-bottom: 1px solid #4A76A8;
}

@media all and (max-width:1298px) {
    .contact {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 56px;

    }

    .contact__title {
        font-size: 32px;
        line-height: 38px;
    }

    .contact__text {
        font-size: 20px;
        line-height: 23px;
    }

    .contact__input-name,
    .contact__input-tel, 
    .contact__input-mail {
        width: 377px;
        height: 39px;
        margin-bottom: 21px;
        padding: 8px 0 0 23px;
    }

    .contact input::placeholder {
        font-size: 20px;
        line-height: 23px;
    }

    .contact__agree {
        font-size: 17px;
        line-height: 20px;
    }
}

@media all and (max-width:480px) {
    .contact {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .contact__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
    }
    
    .contact__text {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 35px;
    }

    .contact__input-form {
        width: 100%;
    }
    
    .contact__input-name,
    .contact__input-tel, 
    .contact__input-mail {
        height: 28px;
        padding: 6px 0 6px 18.06px;
        margin-bottom: 15px;
        width: 90vw;
    }

    .contact__input-mail {
        margin-bottom: 45px
    }

    .contact input::placeholder {
        font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.5);
    }

    .contact__btn {
        font-size: 16px;
        line-height: 19px;    
        margin-bottom: 30px;
        padding: 13.62px 29.96px 12.84px 30.66px;
    }

    .contact__agree {
        width: 90vw;
    }
}