.footer {
    padding: 68px 0 38px 0;
    background-color: var(--grey);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo-container {
    display: flex;
    align-items: center;
}

.footer__par-container {
    padding-left: 19px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.footer__par {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 17px;
    color: var(--white);
}

.footer__par-dev {
    margin-bottom: 5px;
    margin-right: 10px;
}

.logo__callback-link-perfect {
    margin-bottom: 13px;
}

.aside__par-dev-mobile-container {
    display: none;
}

@media all and (max-width:1298px) {
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media all and (max-width:680px) {
    .footer__par-dev {
        display: none;
    }

    .aside__par-dev-mobile-container {
        display: block;
        background-color: #2A2C3F;
        padding: 15px 0;
    }

    .aside__par-dev-mobile {
        display: block;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: var(--white);
    }
}

@media all and (max-width:480px) {
    .footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer__par {
        font-size: 8px;
        line-height: 11px;
    }
}
