.header {
    background-image: linear-gradient(rgba(47, 50, 75, 0.85), rgba(47, 50, 75, 0.85)), url('../assets/img/hero.png');
    background-repeat: no-repeat;
    padding: 40px 0 0 0;
    margin-bottom: 35px;
    background-size: cover;
    background-position: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.header__title {
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
    color: rgba(255, 255, 255, 0.86);
    margin-bottom: 35px;
}

.header__par {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 90px;
}

.header__btn {
    display: flex;
    margin: auto;
    background: var(--blue);
    box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
    border-radius: 50px;
    padding: 12px 48px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--white);
}

@media all and (max-width:1298px) {
    .header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header__nav {
        margin-bottom: 70px;
    }

    .logo__phone {
        font-size: 21px;
        line-height: 25px;
    }

    .logo__callback {
        font-size: 13px;
        line-height: 15px;
    }

    .header__title {
        font-size: 40px;
        line-height: 47px;
    }

    .header__par {
        font-size: 18px;
        line-height: 25px; 
        margin-bottom: 60px;
    }

    .wrapper {
        padding-bottom: 70px;
    }

}

@media all and (max-width:768px) {
    .header__title {
        font-size: 35px;
        line-height: 42px;
    }

}

@media all and (max-width:680px) {
    .logo__phone {
        display: none;
    }

    .logo__callback {
        display: none;
    }

    .logo__img {
        display: block;
        width: 60px;
        height: 60px;
    }
}

@media all and (max-width:480px) {
    .header {
        margin-bottom: 17.5px;
    }
    .logo__img {
        display: block;
        width: 24px;
        height: 24px;
    }

    .logo svg {
        width: 30px;
        height: 30px;
    }

    .header__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 23px;
    }

    .header__par {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: rgba(255, 255, 255, 0.75);
        margin-bottom: 54px;
    }

    .header__btn {
        font-size: 16px;
        line-height: 19px;
    }

    .wrapper {
        padding-bottom: 65px;
    }
}

