.introduction {
    padding-top: 60px;
    margin-bottom: 50px;
}

.introduction__title {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 30px;
}

.introduction__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}

.introduction__paragraph:first-of-type {
    margin-bottom: 30px;
}

.introduction__paragraph:last-of-type {
    margin-bottom: 50px;
}

.introduction__content {
    width: 1140px;
    min-height: 215px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.introduction__content_title {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: #000000;
    padding: 25px 0 0 45px;
    margin-bottom: 20px;
}

.introduction__content_list {
    padding-left: 70px;
}

.introduction__content_link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #02535F;
}

.introduction__content_item {
    margin-bottom: 10px;
}

.introduction__content_item:last-child {
    margin-bottom: 0;
}