.introduction {
    padding-top: 60px;
    padding-bottom: 25px;
}

.introduction__title {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 30px;
}

.introduction__paragraph-wrapper {
    margin-bottom: 50px;
}

.introduction__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}

.introduction__paragraph:first-of-type {
    margin-bottom: 30px;
}

.introduction__paragraph:last-of-type {
    margin-bottom: 0;
}
