.lastelement {
    padding-bottom: 25px;
    padding-top: 25px;
}

.lastelement__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 30px;
}

.lastelement__paragraph:last-child {
    margin-bottom: 0;
}

.lastelement__img {
    margin-bottom: 30px;
}

.lastelement__wrapper-light {
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-bottom: 30px;
}

.lastelement__paragraph-light {
    color: #5E5E5E;
    padding: 15px 30px;
    margin-bottom: 0;
}

.lastelement__img-light {
    margin-bottom: 0;
}