.resetmargin {
    padding-bottom: 50px;
    padding-top: 25px;
}

.resetmargin__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 30px;
}

.resetmargin__img {
    margin-bottom: 30px;
}

.resetmargin__img-reset {
    margin-bottom: 0;
    display: block;
}
