.hero {
    border: 1px solid #000000;
    margin-bottom: 80px;
    background-position: center;
    background-size: cover;
    background-image: url('../image/hero.jpg');
    height: 780px;
    z-index: 0;
    position: relative;
}

.hero:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #050404;
    opacity: 0.502;
    z-index: -1;
}

.hero__title {
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    color: #ffb822;
    font-weight: 900;
    font-family: "Roboto";
}

.hero__description {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    font-family: "Roboto";
}