html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    background-color: #050404;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}

button {
    display: block;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

/* Hide browserdefault search button */

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.visually-hidden {
    position: fixed;
    transform: scale(0);
}
